{# blog/addArticle.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dodaj nowy artykuł</h1>

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_row(form.created) }}
    {{ form_row(form.imageFile) }}

    {{ form_row(form.save) }} {# Render the submit button #}

    {{ form_end(form) }}
{% endblock %}
