{% extends "base.html.twig" %}

{% block title %}Artykuły{% endblock %}
{% block head %}
    {{ parent() }}
    <style>
    </style>
{% endblock %}
{% block content %}
    <h1 class="text-center">Artykuły</h1>
    <a href="/add/article" class="btn btn-primary">Dodaj artykuł</a>
    <div class="row mt-2">
        <div class="col-12">
            <div class="list-group">

                {% for article in articles %}
                    <button onclick="window.location.href='{{ article.link }}'"
                       class="list-group-item list-group-item-action d-flex
                       justify-content-between align-items-start">

                        <div class="ms-2 me-auto">
                            <div class="fw-bold">
                                {{ article.title }}
                                <span class="text-body-secondary fs-6 fw-light">{{ article.created }}</span>
                            </div>
                            {{ article.content }}
                        </div>
                        <div>
                            <a href="{{ article.linkDelete }}" class="btn btn-danger">Usuń</a>
                            <a href="{{ article.linkEdit }}" class="btn btn-primary">Edytuj</a>
                        </div>
                    </button>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
