{% extends "base.html.twig" %}

{% block title %}{{article.title}}{% endblock %}
{% block head %}
    {{ parent() }}
    <style>
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>{{article.title}} (ID: {{ article.id }})</h1>
            <p>
                {{ article.content }}
            </p>
            {% if article.imageFile %}
                <img src="{{ asset('uploads/articles' ~ article.imageFile) }}" alt="Article Image">
            {% endif %}
        </div>
    </div>
{% endblock %}

